$color-white: #ffffff;
$color-black: #24292e;
$color-grey-light: #dfe2e5;
$color-grey-normal: #959da5;
$color-blue-primary: #0366d6;
$color-blue-light: #f6f8fa;

$color-calendar-0: #ebedf0;
$color-calendar-1: #c6e48b;
$color-calendar-2: #7bc96f;
$color-calendar-3: #239a3b;
$color-calendar-4: #196127;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
